* {
    padding: 0;
    margin: 0;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #F8F5F2;
  }
  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform: rotate(calc(360deg / 4 * var(--i))) translateX(100px); /* Distribuci칩n pentagonal */
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  .menu.active li {
    transform: rotate(calc(360deg / 4 * var(--i))); /* Pent치gono en el estado abierto */
  }
  .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 50%;
    transform: rotate(calc(360deg / -4 * var(--i))); /* Ajuste para el pent치gono */
    transition: 1s;
    color: transparent;
    transition-delay: 0.5s;
    filter: drop-shadow(0 0 2px var(--clr));
  }
  .menu.active a {
    color: var(--clr);
  }
  .menu a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: var(--clr);
    transform: rotate(calc(90deg * var(--i))) translate(0, 25px);
    transition: width 0.5s, height 0.5s, transform 0.5s;
    transition-delay: 0.5s, 1s, 1.5s;
  }
  .menu.active a::before {
    width: 50px;
    height: 50px;
    background: #000000;
    border: 2px solid var(--clr);
    transform: rotate(calc(0 * var(--i)));
    transition: transform 0.5s, height 0.5s, width 0.5s;
    transition-delay: 0.5s, 1.5s, 1.5s;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--clr));
    rotate: 135deg;
  }
  .menu.active li:hover a::before {
    background: var(--clr);
  }
  .menu.active li:hover a ion-icon {
    color: #F8F5F2;
  }
  
  .menuToggle {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 60px;
    height: 60px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    transition: 1.5s;
  }
  .menu.active .menuToggle {
    transform: rotate(315deg);
  }

  .tooltip {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 10;
}
.menu.active .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(10px); /* A침ade un ligero movimiento */
}